.container {
  .wrapper {
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        margin-top: 260px;
        font-size: 24px;
        font-weight: 600;
        padding-right: 360px;
      }
    }
  }
}

header {
  height: 100px;
  width: 100%;
  z-index: 20;
  position: fixed;
  background-color: #dcaa6854;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo a {
      font-weight: 700;
      font-size: 0.9rem;
      text-decoration: none;
      color: $green;
      &:hover {
        color: $green;
      }
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.9rem;
        mix-blend-mode: difference;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color {
      background: $green;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .menu-layer {
      position: relative;
      background: linear-gradient(
          0deg,
          rgba(250, 221, 187, 0.95),
          rgba(250, 221, 187, 0.95)
        ),
        url("../images/african-style-background.png");
      background-repeat: repeat;
      height: 100%;
      overflow: hidden;
      .menu-city-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-size: cover !important;
        background-repeat: no-repeat;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }
      .wrapper {
        top: 100px;
        position: relative;
        position: relative;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;

          nav {
            display: block;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style: none;
                @include font-size(4rem);
                font-family: "jungle-Fever-NF";
                font-weight: 700;
                cursor: pointer;
                @include rfs(100px, height);
                overflow: hidden;
                position: relative;
                width: 100%;
                a {
                  position: absolute;
                  color: $green;
                  text-decoration: none;
                  text-shadow: 2px 2px $black;
                  &:hover {
                    color: $black;
                    text-shadow: 2px 2px $green;
                  }
                }
              }
            }
          }
          .info {
            width: 100%;
            h3 {
              @include font-size(1.6rem);
              margin: 0 auto;
            }
            p {
              font-weight: 300;
              font-size: 1rem;
              margin: 0;
              @include media("<=tablet") {
                font-size: 0.8rem;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}

.locations {
  position: relative;
  color: $black;
  margin-top: 16px;
  font-size: 0.8rem;
  font-weight: 600;
  h5 {
    margin: 0;
  }
  span {
    cursor: pointer;
    &:first-child {
      margin-left: 64px;
    }
    font-weight: 400;
    margin: 0 32px;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #fff;
      background: $green;
      padding: 8px 24px;
      border-radius: 4px;
    }
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
